#site-navigation .gray-area{
	display: none;
}
#site-navigation:hover .gray-area{
	display: none;
	width: 100%;
	background: red;
	height: 100px;
}

 /*  Custom Styles */

/* body{
  overflow-x: hidden;
}
*/
body #page{
 font-family: "IM Fell English","Helvetica Neue",Helvetica,Arial,sans-serif !important;
 }

 .row{
 	margin: 0;
 }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1;
}
/* Header and Navigation */
header.site-header.row {
	padding: 0;
	min-height: 70px;
}
h1.logo-container {
margin-top: 15px;
}
.default-nav-wrapper.col-md-8.col-xs-12 {
width: auto;
padding: 0;
}
.site-branding.col-md-4 {
width: auto;
}

.gray-area{
	position: absolute;
	z-index: 1;
	top: 70px;
	width: 100%;
	height: 0px;
	background: #eee;
	 
}
#menu-header-menu .sub-menu  a[title="submenu-title"] {
cursor: default;
color: #333;
font-size: 18px !important;
font-size: inherit;
font-weight: bold;
padding: 3px 10px;
white-space: nowrap;
}
#menu-header-menu .sub-menu li{
display: inline-block;
  width: 25%;
  font-size: 18px;
}
#site-navigation {
	clear: both;
	display: block;
	float: left;
	display: inline-block;
	background: #ffffff;
	margin-bottom: 0px;  
	padding-bottom: 0px;  
	  padding-top: 1px;
  margin-left: -2px;
}
#site-navigation a {
display: block;
color: #000;
text-decoration: none;
padding: 22.5px 15px;
margin-right: -2px;
margin-top: -2px;
margin-left: -2px;
font-size: 18px;
line-height: 25px;
font-weight: normal;
}
 
#site-navigation li:hover > a{
background: #eee;
border-top:  0;
 
}

#site-navigation ul ul li:hover > a {
background: #eee;
border-top: none;
 
}
#site-navigation .menu > li > a:after {
 
display: none;
}
#site-navigation ul ul.sub-menu {
  
  position: absolute;
  top: 4.9em;
}
#site-navigation ul ul.sub-menu li:first-child {
	float: left !important;
}
#site-navigation ul ul.sub-menu li:nth-child(2)  {
 float: left;
  clear: left;
    
}
#site-navigation ul ul.sub-menu li  {
  float: left;
  clear: left;
  }
 #site-navigation ul#menu-header-menu > li:nth-child(1) ul li:nth-child(odd), #site-navigation ul#menu-header-menu > li:nth-child(2) ul li:nth-child(odd){
  
 	float: none;
 	clear: none;
  margin-right: 50%;
 }
  
#site-navigation ul ul.sub-menu a{
  margin: 0;
  font-size: 18px;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
 }
 
#site-navigation ul#menu-header-menu >  li.current_page_item > a {
	background: none;
 padding: 22.5px 15px;
border-top: 0;
}
#site-navigation   li.current_page_item > a {
border-top: 0;
	}
#site-navigation #menu-header-menu li > a:hover{
background: #eee !important;
}

#site-navigation ul li:hover > ul {
  display: block;
  min-width: 900px;
}



#social-icons{
	width: auto;
}
#social-icons a{
margin-left: -3px;
margin-right: -3px;
display: inline-block;
padding: 25px 4px;

}
#social-icons a:hover, #social-icons a:focus {
text-decoration: none;
background-color: #eee;
}
#social-icons a img{
	height: 22px;
}

#social-icons .divider {
width: 1px;
margin: 19px 3px;
overflow: hidden;
background-color: #000;
height: 32px;
float: left;
}
a#cart_link {
 
display: inline-block;
float: left;

}
a#cart_link img{
height: 20px;
	}

/* Blog Content */


#secondary h1.widget-title {
font-size: 20px;
font-weight: normal;
border-bottom: 2px solid #333;
background: #fafafa;
padding: 5px;
margin-top: 0px;
}

a:hover, a:focus, a:active {
color: #333;
}

#content {
  
  border-top: 0;
  
}
.archive .entry-title a:hover {
  color: #333;
}
.widget_search .search-submit {
  display: inline-block;
  padding: 4px 12px;
  
}

#commentform input#submit{ 
background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-radial-gradient(0px 100%, circle cover, rgb(255, 255, 255) 6px, rgb(0, 0, 0) 6px), -webkit-radial-gradient(100% 100%, circle cover, rgb(255, 255, 255) 6px, rgb(0, 0, 0) 6px), -webkit-radial-gradient(100% 0px, circle cover, rgb(255, 255, 255) 6px, rgb(0, 0, 0) 6px), -webkit-radial-gradient(0px 0px, circle cover, rgb(255, 255, 255) 6px, rgb(0, 0, 0) 6px);
  background-origin: padding-box, padding-box, padding-box, padding-box;
  background-position: 0% 100%, 100% 100%, 100% 0%, 0% 0%;
  background-repeat: no-repeat;
  background-size: 75% 75%;
  border-radius: 6px;
  border: none;
  line-height: 1;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 23px;
  margin: 10px 0px;
  padding: 10px 16px;
  text-align: right;
  box-shadow: none;

}
#commentform input#submit:hover{ 
   border-color: none;
   box-shadow:  none;
}

/* Footer */
#footer-container {
	max-width: 850px;
	width: 100%;
	border: 0px;
	padding-left: 7px;
	padding-right: 7px;
	margin-top: 0px;
	margin-bottom: 25px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
}
footer hr.footer {
	max-width: 850px;
	width: 100%;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	border-width: .08em;
	border-color: #666666;
	clear: both;
}
#colophon {
	background: #ffffff;
	padding: 0px;
	border-top: 0;
	border-bottom: 0;
	width: auto;
	margin-left: 0px;
	margin-right: 0px;
}
footer #menu-footermenu {
	width: 100%;
}
footer ul{
	display: block;
list-style-type: disc;
margin-left: 0px;
padding: 0px;
text-align: left;
width: 180px;
margin-bottom: 25px;
}
footer ul li  {
list-style: none;
margin-left: 0px;
padding-left: 5px;
text-align: left;
}

footer #menu-footermenu > li  {
	float: left;
	display: inline-block;
	padding-left: 20px;
	}
footer a[title="footer-label"] { 
 color: #333;
font-size: 18px;
text-align: left;
font-weight: bold;
padding-bottom: 5px;
margin-top: 15px;
display: inline-block;

}
footer a[title="footer-label"]:hover { 
cursor: default;
text-decoration: none;
	}
footer .sub-menu li a{
	text-decoration: none;
  color: #666666;
  text-align: left;
  font-size: 18px;
}
footer .copyright{
	  text-align: center;
  color: #666666;
  font-size: 14px;
  margin: 25px 0 0;
}
 


